.button_place_content {
  height: 22px;
  width: 62px;
  border-radius: 3px;
  background-color: #4A90E2;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  z-index: 1;
  margin-top: 30px;
  margin-left: 30px;
}